* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 70px;
  font-size: 20px;
  margin: 0 auto;
  background-color: #c4c4c4;
  min-height: 763px;
  width: 661px;
}
.container-serchForm {
  width: 500px;
  height: 61px;
  padding-left: 10px;
  font-size: 25px;
  z-index: 100;
}
.drop {
  display: none;
}
.drop__open {
  display: block;
  position: absolute;
  top: 131px;
  width: 500px;
  z-index: 10;
}

.drop-item {
  display: flex;
  align-items: center;
  padding-left: 10px;

  width: 500px;
  height: 44px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}
.drop-item:hover {
  background-color: #65cdf9;
}
.block {
  display: flex;
  background-color: #e27beb;
  width: 503px;
  height: 101px;
  border: 1px solid black;
  justify-content: space-between;
  align-items: center;
  padding: 7px 16px 7px 16px;
}
.block-text {
  display: flex;
  font-size: 24px;
  align-items: center;
}
.bottomContainer {
  display: flex;
  flex-direction: column;
}

.button {
  position: relative;

  width: 55px;
  height: 55px;
  cursor: pointer;
  background-color: #e27beb;
  border: none;
  outline: none;
}

.button:before,
.button:after {
  content: "";
  position: absolute;

  left: 5px;
  width: 45px;
  height: 4px;
  background: #e62f57;
}

.button:before {
  webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.button:after {
  webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
