* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
#app {
  display: flex;
  padding-top: 62px;
  padding-left: 77px;
  /* padding-right: auto; */

  margin: 0 auto;
  background-color: #c4c4c4;
  height: 763px;
  width: 661px;
}
.container-serchForm {
  width: 500px;
  height: 61px;
}
